delimiter ;



drop table if exists Classes;
create table Classes
   (
     ClassId      int unsigned  not null auto_increment,
     ClassName    varchar(64)   not null,
     ParentId     int unsigned  null,
     Description  varchar(255)  null,

     primary key (ClassId),
     unique key  ClassNameKey   (ClassName  asc),
     key         ParentKey      (ParentId   asc, ClassName asc)
   )
;



