  drop table if exists Deployments;
  create table Deployments   
  (
    CruiseName           char(10)     not null,
    StationName          char(10)     not null,  
    DeploymentNum        char(4)      not null,
    Description          varchar(255) null,
    DateTimeStart        datetime     null,
    DateTimeEnd          datetime     null,
    Latitude             double       null,
    Longitude            double       null,
    SyncTimeStampActual  datetime     null,
    SyncTimeStampCTD     datetime     null,
    SyncTimeStampGPS     datetime     null,
    
    CropLeft             int unsigned not null default 0,
    CropRight            int unsigned not null default 4095,

    primary key (CruiseName asc,  StationName asc,  DeploymentNum asc),
    foreign key (CruiseName, StationName)  references Stations (CruiseName, StationName)
  );

insert into Deployments  (CruiseName, StationName, DeploymentNum, Description, DateTimeStart, DateTimeEnd,  Latitude, Longitude)
            values       ("ETP2007",    "1",         "A",           "",          "2007-10-28",  "2007-10-28", 0.0,      0.0);


insert into Deployments  (CruiseName, StationName, DeploymentNum, Description, DateTimeStart, DateTimeEnd,  Latitude, Longitude)
            values       ("ETP2007",    "1",         "B",           "",          "2007-10-28",  "2007-10-28", 0.0,      0.0);


insert into Deployments  (CruiseName, StationName, DeploymentNum, Description, DateTimeStart, DateTimeEnd,  Latitude, Longitude)
            values       ("ETP2007",    "1",         "C",           "",          "2007-10-28",  "2007-10-28", 0.0,      0.0);



























